# UI Framework
streamlit
streamlit-extras

# LangChain Ecosystem
langchain
langchain-community
langchain-ollama
langchain-huggingface

# NLP & Retrieval
rank_bm25
pypdf
chromadb
sentence-transformers

# Environment & Utilities
python-dotenv
tiktoken

# Auth
bcrypt